@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  box-sizing: border-box;
  margin: 0;
}
*:hover{
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    min-height: 100vh;
    overflow-x: hidden;
  }
  a:hover{
    text-decoration: none;
  }

  /*Footer*/
  footer{
    background-color: rgba(0,0,0,0.9);
    height:130px;
    margin-top: 5%;
    color:white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    padding:20px 0;
  }
  .socialMedia a{
    color:white;
  }
  footer a{
    color:white;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
  }
  footer a:hover{
    color:#38A6FF;
  }
  .contact a{
    display: block;
  }
  .socialMedia img{
    width:25px;
    height:25px;
    display: inline-block;
    margin:0 5px;
  }
  footer h3{
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
  }
  .legal, .contact, .socialMedia{
    height:100%;
  }
  .legal a{
    display: block;
  }
  .legal span{
    display:block;
    margin-bottom: 100px;
    font-size: 12px;
    font-weight: bold;
  }
  .legal h3{
    margin-top: 0;
  }
  .calltoAction{
    color:yellow;
  }


  /*Nav Bar */
  .avatar{
    width:42px;
    height:42px;
    border-radius: 50%;
    margin-right: 5px;
    border:#38A6FF 3px solid;
  }
  .avatarLink{
    width:auto;
  }
  .avatarLink a{
    width:auto;
    padding:0 20px;
  }
  .avatar:hover{
    border:white 3px solid;
  }
  .home{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width:100%;
    margin-top: 4.2%;
}
header, nav{
    width:100%;
    height:60px;
    position:fixed;
    top:0;
    right:0;
    z-index: 10;
}
.mainNav{
    height:60px;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
nav{
    box-shadow: 1px 1px 7px rgba(211,211,211,1);
    background-color: white;
}
ul{
    display:flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    width:100%;
    height:60px;
    list-style:none;
    text-align: center;
    margin-bottom: 0;
}
li{
    text-decoration: none;
    height:100%;
    width:110px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.2em;

}
li a{
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    background-color: white;
    height:60px;
    width: 100%;
    line-height: 4em;
    border-radius: 0.2em;
}
li a:hover{
  background: #38A6FF;
	background: -webkit-linear-gradient(to right, #38A6FF, #87C3F0);
	background: linear-gradient(to right, #38A6FF, #51B4FF);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
  border-radius: 0.2em; 
  transition: none;
}
#homeLogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
nav > a{
    text-decoration: none;
}
#logo{
  width:120px;
  margin: 0 10px 0 30px;
  opacity: 1;
}
#navSearchBTN{
  color: #FFF;
  background-color: #38A6FF;
  font: 18px 'Montserrat', sans-serif;
  text-align: center;
  font-style: normal;
  border: 1px solid#38A6FF;
  padding: 7px 17px 7.1px 17px;
  width: auto;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  border-radius: 1.5px 8px 8px 0;
  margin-bottom: 0px;
  cursor: pointer;
}
#navSearchBTN:hover{
    background-color: #8a97a0;
    border: 1px solid #8a97a0;
}

/*Home Main*/
.main{
    display:flex;
    height:600px;
    width:100%;
    background: white;
}
.main__text{
    width:45%;
    height:100%;
    padding:5%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    /* box-sizing: border-box; */
}
.main__text h1{
    font-size: 4.2rem;
    color:black;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
}

.main__text span{
    font-size: 20px;
}

.image{
    width:65%;
    height:100%;
    position: relative;
    overflow: hidden;
  }
.image::before{
    content: '';
    position: absolute;
    left: -7.1em;
    top:50%;
    transform: translateY(-50%) rotate(20deg);
    background: white;
    width:30%;
    height:100%;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.main img{
    width:100%;
    height:600px;
}
.homeBTN{
    background-color: #38A6FF;
    border-color: #38A6FF;
    border: none;
    color:#FFF;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 5%;
    width:200px;
    height:40px;
    border-radius: 50px;
}
.homeBTN:hover{
    background-color:#8a97a0;
    border-color:#8a97a0;
}

#about{
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 5% 0;
}
.aboutDetails{
    width:65%;
    padding:7% 5% 4% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.aboutDetails h2{
    font-size: 36px;
    color:black;
    font-weight: bold;
    text-align: center;
}
.aboutDetails p{
    font-size: 20px;
    line-height: 1.5em;
    text-align: center;
}
.aboutDetails bold{
    font-weight: bold;
    color:black;
}
.aboutDetails button{
    background-color: #38A6FF;
    border-color: #38A6FF;
}
.aboutDetails button:hover{
    background-color: #8a97a0;
    border-color: #8a97a0;
}
.ad{
    font-size: 36px;
}
.ad2{
    font-size: 24px;
    color:gray;
    font-weight: 200;
}
.button1, .button1 a, .button2, .button2 a{
    height:60px;
}
.button1 a{
    background-color: #38A6FF;
    margin:0;
}
.button1 a:hover{
    background-color: #8a97a0;
}
.button2 a{
    color:black;
    margin:0;
}
.button2 a:hover{
    /* color:rgba(0,0,0,0.5); */
    background-color: rgba(56,166,255,0.1);
}
#team h3{
    font-size: 40px;
    color:black;
    margin-bottom: 0;
}
#team{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    margin-bottom: 100px;
}
.profileImages{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
    padding:50px 100px;
    width:100%;
}
.introduction{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width:300px;  
    position: relative;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    padding: 5px
}
.introduction img{
  width: 100%;
  height: 450px;
}
.teamIntro{
    width: 90%;
    height: 100px;
    position: absolute;
    bottom: 0.3em;
    background-color:rgba(0,0,0,0.9);
    text-align: center;
    color:rgba(255,255,255,0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:5%;

}
.teamIntro p{
    font-weight: bold;
    margin:0;
    line-height: 1em;
}
.testimonialTitle{
    font-size: 12px;
    margin:0;
    font-weight: 600;
    font-display: block;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}
.cta-text{
  background-color: rgba(249, 249, 249, 0.9);
  padding:5% 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cta-heading{
  margin-right: 15%;
}
.cta-heading > span:first-child{
  display: block;
  font-weight: 700;
  font-size: 40px;
}
.cta-heading > span:nth-child(2){
  font-size: 30px;
  font-weight: 300;
  color:#8a97a0;
  padding:0 50px;
}
.ctaBTN, .ctaBTN > a{
  color: #FFF;
  text-align: center;
  background-color: #38A6FF;
  /* border-radius: 7px; */
}
.ctaBTN{
  border:#e0e0e0 solid 1px;
  box-shadow: inset;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: #e0e0e0 1px 1px 2px;
  cursor: pointer;
}
.ctaBTN > a{
  height:100%;
  width: 100%;
  padding:20px;
}
.ctaBTN:hover, .ctaBTN > a:hover{
  background-color: #8a97a0;
}
.signup{
    margin-top: 2%;
}
.container{
    margin-top: 7%;
    min-height: 100vh;
}

.feed{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*Profile Card*/
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');

/*Profile Card 1*/
.profile-card-1 {
  overflow: hidden;
  width: 600px;
  color: #ffffff;
  text-align: center;
  height:600px;
  border:none;
  margin-top: 50px;
  background-image: linear-gradient(-20deg, #87C3F0 0%,  #38A6FF 100%);
  padding: 50px 20px;
  padding-top: 100px;
  box-shadow: #e0e0e0 5px 7px 15px;
}
.cardDetails{
  min-height: 450px;
  box-shadow: 0px 8px 60px -10px rgba(13,28,39,0.6);
  background: #fff;
  border-radius: 12px;
  position: relative;
  font-size: 16px;
  color: #2E3434;
}
.profile-card-1 .background {
  width:100%;
  vertical-align: top;
  opacity: 0.9;
  -webkit-filter: blur(5px);
  filter: blur(5px);
   -webkit-transform: scale(1.8);
  transform: scale(2.8);
}
.profile-card-1 .card-content {
  width: 100%;
  padding: 15px 25px;
  position: absolute;
  left: 0;
  top: 25%;
}
.profile-card-1 .profile {
  max-width: 100px;
  max-height: 150px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 4;
  box-shadow: 0px 5px 50px 0px #87C3F0, 0px 0px 0px 7px rgba(56, 165, 255, 0.5);
}
.profile-card-1 h2 {
  font-weight: 700;
  font-size: 24px;
  color: #5938FF;
  margin-bottom: 10px;
}
.profile-card-1 h2 small {
  display: block;
  font-size: 15px;
  margin-top:10px;
}
.profile-card-1 i {
  display: inline-block;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-1 .icon-block{
    float:left;
    width:100%;
    margin-top:15px;
}
.profile-card-1 .icon-block a{
    text-decoration:none;
}
.profile-card-1 i:hover {
  background-color:#2E3434;
  color:#2E3434;
  text-decoration:none;
}
.profile-card-social__item{
  display: inline-flex;
      width: 55px;
      height: 55px;
      margin: 15px;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      color: #fff;
      background: #405de6;
      box-shadow: 0px 7px 30px rgba(43,98,169,0.5);
      position: relative;
      font-size: 21px;
      flex-shrink: 0;
      transition: all .3s;

}
.card-content p{
  padding:25px 50px;
}
.fa{
  height:30px;
  width:30px;
}
.editProfile{
  margin-bottom: 10%;
}
@media screen and (max-width:1380px){
.main__text h1{
  font-size: 3.5rem;
}
.home{
  margin-top: 5%;
}
.main img{
  width:110%
}
.introduction{
  width:280px; 
}
.profileImages{ 
  padding:50px;
  width:100%;
}
}
@media screen and (max-width:1250px) {
  .image::before{
    left: -6.5em;
    top:50%;
    transform: translateY(-50%) rotate(20deg);
    background: white;
    width:30%;
    height:100%;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.profileImages{ 
  padding:50px;
  width:100%;
}
.introduction{
  width:250px; 
}
.introduction img{
  height:450px
}
}
@media screen and (max-width:1184px){
.main__text{
  width:70%;
  z-index: 1;
}
.main__text h1{
  font-size: 3.5rem;
}
.image{
  width:75%;
}
.home{
  margin-top: 5%;
}
.main img{
  width:140%;
}
.image::before{
  left: -6.4em;
  width:40%;
}
.profileImages{ 
  width:90%;
}
.introduction{
  width:320px; 
}
.cta-heading > span:first-child{
  font-size: 36px;
}
.cta-heading > span:nth-child(2){
  font-size: 26px;
}
}

@media screen and (max-width:1050px){
.home{
  margin-top: 6%;
}
.cta-heading{
  margin-right: 5%;
}
.cta-heading > span:first-child{
  font-size: 32px;
}
.cta-heading > span:nth-child(2){
  font-size: 22px;
  padding:0 40px;
}
}
@media screen and (max-width:1000px){
  .main__text h1{
    font-size: 3.5rem;
}
.image::before{
  width:45%;
}
.home{
  margin-top: 6%;
}
/*Home Main*/
.main__text h1{
  font-size: 3.5rem;
}
.aboutDetails{
  width:90%;
}
.introduction{
  width:300px; 
}
.introduction img{
  height:380px
}

}
@media screen and (max-width:948px){
  .main img{
    width:155%;
  }
.main__text{
  z-index: 1;
  width:700px
}
.image::before{
  width:48%;
  left: -6.25em;
}
.profileImages{ 
  padding:50px;
  width:90%;
}
}
@media screen and (max-width:900px){
  .image::before{
    width:50%;
  }
  .cta-text{
    flex-direction: column;
    text-align: center;
    padding:5% 10%;
  }
  .cta-heading > span:first-child{
    font-size: 32px;
  }
  .cta-heading > span:nth-child(2){
    font-size: 22px;
    padding:0;
  }
}

@media screen and (max-width:825px){
  .main__text h1{
    font-size: 3.1rem;
}
.main__text span{
  font-size: 1.2rem;
}

}
@media screen and (max-width:800px){
.home{
  margin-top: 8%;
}
.main{
  height:550px;
}
.main__text h1{
    font-size: 3.8rem;
}

.main__text span{
    font-size: 1.2rem;
}
.main__text{
  width:100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.main img{
  display:none;
}
.image{
  display:none;
}
.image::before{
  display:none;
}
#team > h3{
  font-size: 34px;
  text-align: center;
}
.profileImages{ 
  padding:50px;
  width:100%;
}
/*Start Here*/
.ad{
    font-size: 36px;
}
.ad2{
    font-size: 24px;
    color:gray;
    font-weight: 200;
}
.button1, .button1 a, .button2, .button2 a{
    height:60px;
}
.button1 a{
    background-color: #38A6FF;
    margin:0;
}
.button1 a:hover{
    background-color: #8a97a0;
}
.button2 a{
    color:black;
    margin:0;
}
.button2 a:hover{
    /* color:rgba(0,0,0,0.5); */
    background-color: rgba(56,166,255,0.1);
}
}

@media screen and (max-width:700px){
  /*About*/
.aboutDetails h2{
  font-size: 32px;
}
.aboutDetails p{
  font-size: 18px;
  line-height: 1.5em;
}
.cta{
  margin-bottom: 50px;
}
.cta-heading > span:first-child{
  font-size: 28px;
}
.cta-heading > span:nth-child(2){
  font-size: 22px;
}
.ctaBTN{
  height:4em;
  margin: 5px 0 20px 0;
}
}
@media screen and (max-width:520px){
/*Nav Bar */
.home{
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width:100%;
  margin-top: 13%;
}
li{
  width:80px;
}
#logo{
width:100px;
}
.main{
  height:500px;
}
.main__text h1{
  font-size: 3.2rem;
}

.main__text span{
  font-size: 1rem;
}

  /*About*/
  .aboutDetails{
    padding:4% 5%;
  }
  .aboutDetails h2{
    font-size: 28px;
  }
  .aboutDetails p{
    font-size: 16px;
    line-height: 1.5em;
  }

.homeBTN{
  background-color: #38A6FF;
  border-color: #38A6FF;
  border: none;
  color:#FFF;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  margin-top: 5%;
  width:200px;
  height:40px;
  border-radius: 50px;
}
.homeBTN:hover{
  background-color:#8a97a0;
  border-color:#8a97a0;
}
#team{
  margin: 5% 0;
}
.introduction{
  width:280px; 
}
.cta-heading > span:first-child{
  font-size: 26px;
}
.cta-heading > span:nth-child(2){
  font-size: 20px;
}
.ad{
  font-size: 36px;
}
.ad2{
  font-size: 24px;
  color:gray;
  font-weight: 200;
}
.button1, .button1 a, .button2, .button2 a{
  height:60px;
}
.button1 a{
  background-color: #38A6FF;
  margin:0;
}
.button1 a:hover{
  background-color: #8a97a0;
}
.button2 a{
  color:black;
  margin:0;
}
.button2 a:hover{
  /* color:rgba(0,0,0,0.5); */
  background-color: rgba(56,166,255,0.1);
}
footer{
  padding-top:10px;
  height:100px
}
footer a, footer h3{
  font-size: 10px;
}
}